<div class="main">
    <span class="top">
        <div>
            <p>Confirmed</p>
    <h3>{{totalConfirmed}}</h3>
        </div>
    <div>
        <p>Active</p>
    <h3>{{totalActive}}</h3>
    </div>
    <div>
        <p>Recovered</p>
    <h3>{{totalRecovered}}</h3>
    </div>
    <div>
        <p>Deceased</p>
    <h3>{{totalDeath}}</h3>
    </div>
    </span>
    <table>
        <thead class="thead">
            <tr>
                <td>States/UT</td>
                <td>Confirmed</td>
                <td>Active</td>
                <td>Deaths</td>
                <td>Recovered</td>
                <td>Tested</td>
            </tr>
            <tr class="total_delta">
                <td>Total</td>
                <td class="confirmed">
                    <div class="delta" *ngIf="delta_totalConfirmed != '0'">
                        +{{delta_totalConfirmed}}
                    </div>{{totalConfirmed}}</td>
                <td class="active"> 
                    <div class="delta" *ngIf="delta_totalActive != '0'">
                        +{{delta_totalActive}}
                    </div>{{totalActive}}</td>
                <td class="death">
                    <div class="delta" *ngIf="delta_totalDeath != '0'">
                        +{{delta_totalDeath}}
                    </div>{{totalDeath}}</td>
                <td class="recovered">
                    <div class="delta" *ngIf="delta_totalRecovered != '0'">
                        +{{delta_totalRecovered}}
                    </div>{{totalRecovered}}</td>
                <td class="tested">{{totalTested}}</td>
            </tr>

        </thead>
        <tbody *ngFor='let state of stateCode '>
            <tr>
                <td (click)="toggle(state.code);" class="state_name" [id]="state.code" (click)="activateState(state.code)">{{state.name}}</td>
                <td class="confirmed">
                    <div class="delta" *ngIf="deltaState.get(state.code).c != '0'">
                        +{{deltaState.get(state.code).c}}
                    </div>
                    <div>{{stateCases.get(state.code).c}}</div>
                </td>
                <td class="active">

                    <div>{{stateCases.get(state.code).a}}</div>
                </td>
                <td class="death">
                    <div class="delta" *ngIf="deltaState.get(state.code).d != '0'">
                        +{{deltaState.get(state.code).d}}

                    </div>

                    <div>{{stateCases.get(state.code).d}}</div>
                </td>
                <td class="recovered">
                    <div class="delta" *ngIf="deltaState.get(state.code).r != '0'">
                        +{{deltaState.get(state.code).r}}

                    </div>

                    <div>{{stateCases.get(state.code).r}}</div>
                </td>
                <td class="tested">

                    <div>{{stateCases.get(state.code).t}}</div>
                </td>

            </tr>
            <tr *ngIf="show(state.code);" class="thead district_head">
                <td>District</td>
                <td>Confirmed</td>
                <td>Active</td>
                <td>Deaths</td>
                <td>Recovered</td>
                <td>Tested</td>
            </tr>
            <ng-container *ngIf="show(state.code);">
                <tr *ngFor="let district of districtCases.get(state.code)">
                    <td class="district_name">{{district.name}}</td>
                    <td class="confirmed">
                        <div class="delta" *ngIf=" deltaDistrict.get(district.name) != undefined && deltaDistrict.get(district.name).c != 0">
                            +{{deltaDistrict.get(district.name).c}}
                        </div>

                        <div>{{district.c}}</div>
                    </td>
                    <td class="active">

                        {{district.a}}
                    </td>
                    <td class="death" >
                        <div class="delta" *ngIf=" deltaDistrict.get(district.name) != undefined && deltaDistrict.get(district.name).d != 0">
                            +{{deltaDistrict.get(district.name).d}}
                        </div>

                       <div> {{district.d}}</div>
                    </td>
                    <td class="recovered">
                        <div class="delta" *ngIf=" deltaDistrict.get(district.name) != undefined && deltaDistrict.get(district.name).r != 0">
                            +{{deltaDistrict.get(district.name).r}}
                        </div>

                        <div>{{district.r}}</div>
                    </td>
                    <td class="tested">
                        <div class="delta"></div>

                        {{district.t}}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>