h3{
    text-align-last: center;
    font-size: xxx-large;
    color: yellowgreen;
    margin-top: 0;
}
.top{
    display: flex;
    place-content: center;
}
.top div{
    padding-right: 100px;
    
}
p{
    color: aqua;
    text-align: center;
}
td{
    
    padding-top: 10px;
    padding-right: 7px;

}
td:nth-child(1){
    width: 100px;
    word-wrap: break-word;
    background-color: #383737c4;
}
td:not(:nth-child(1)){
    text-align: right;
}
table{
    padding-left: 50px;
}
.thead{
    font-weight: bolder;
    color: wheat;
    font-size: large;
}
.district_head{
    padding-top: 30px;
    color: gainsboro;
}

.state_name{
    color: cadetblue;
}

.confirmed{
    color: rgb(89, 231, 23);
}
.active{
    color: cornflowerblue;
}
.death{
    color: greenyellow;
}
.recovered{
    color: lightgreen;
}
.tested{
    color: turquoise;
}
.district_name{
    color: #e9e76d;
}

.delta
{
    font-size: smaller;
    color: white;
    font-style: italic;
}
.total_delta{
    font-size: medium;
}