h3{
    text-align-last: center;
    font-size: xxx-large;
    color: yellowgreen;
}
td{
    padding: 5px;
}
td:not(:nth-child(1)){
    text-align: right;
}
table{
    padding-left: 50px;
}
.thead{
    font-weight: bolder;
    color: wheat;
    font-size: large;
}
.district_head{
    padding-top: 30px;
    color: gainsboro;
}
.main{
    background-color: #303030;
}
.state_name{
    color: cadetblue;
}
.confirmed{
    color: rgb(243, 61, 61);
}
.active{
    color: cornflowerblue;
}
.death{
    color: greenyellow;
}
.recovered{
    color: lightgreen;
}
.tested{
    color: turquoise;
}
.district_name{
    color: #e9e76d;
}
